.left {
	background-color: aquamarine;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
}
h1 {
	text-align: center;
	font-size: 30px;
	font-family: 'Lexend Deca', sans-serif;
}

div.left { padding: 20px;
 text-align: center;
font-family: 'Lexend Deca', sans-serif;
	font-size: 20px
}

a {
	background-color: white;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 20px;
	transition: color 3000;
}

a:hover {
	color: red;
}
.right {
		background-color: indianred;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
}
.rocket {
	position: absolute;
	left: 35%;
	bottom: -60px;
	width: 286px;
	height: 458px;
	background: url('../img/rocket.gif') no-repeat 0 0;
	transition: bottom 10000ms;
}
.ground {
	background-image: url('../img/ground.png');
	position: absolute;
	height: 590px;
	bottom: 0px;
	left: 0;
	width: 100%;
}
body.body-state1 .rocket{ transition: none; }
/* rocket bg img*/


body.body-state5 .rocket{
	background: url('../img/boom.gif');
	width: 156px;
	height: 228px;
	left: 50%;
}
	
body.body-state3 .rocket,
body.body-state4 .rocket{
	bottom: 1000px;
}

.state1,
.state2,
.state3,
.state4,
.state5 { display: none; }

body.body-state1 .state1 { display: block; }
body.body-state2 .state2 { display: block; }
body.body-state3 .state3 { display: block; }
body.body-state4 .state4 { display: block; }
body.body-state5 .state5 { display: block; }



a{

}

a.button {

}

